:root{
  --body-bg: #151515;
  --dark-gray: #242424;
  --green: #4EE1a0;
  --gray: #d9d9d950;
  --text1: #ffffff;
  --red: #ff6f5b;
  --margin: 12vw;
  
}
html{
  box-sizing: border-box;
  font-size: 100%;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: var(--body-bg);
  color: var(--text1);
  font-size: var(--fs-body);
  line-height: 1.56;
}

.front{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  background-color: var(--body-bg);
  margin-left: var(--margin);
  margin-right: var(--margin)
}
.about{

}